@use '../common/accessibility' as *;

:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.wp-element-button:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none;
}

@include forced-colors {
  :focus-visible {
    outline-color: Highlight;
  }
}
